<h1 class="paragraph">
    <span class="text" data-lrv-text="messages"></span>
    <a href="#main-index=components-tab&components-index=messages-tab" class="custom-link">
        <i class="fa fa-link"></i>
    </a>
</h1>
<p class="paragraph text" data-lrv-text="messages-introduction"></p>
<div class="custom-code" id="messages1" data-custom-model="basicMessage"></div>
<p class="paragraph text" data-lrv-text="messages-result"></p>
<div class="custom-code" id="messages2" data-custom-model="addMessage2"></div>
<p class="paragraph text" data-lrv-text="messages-translate"></p>
<div class="custom-code" id="messages3" data-custom-model="translatedMessage"></div>
<div class="paragraph">
    <button class="btn text" data-lrv-text="launch-example" data-ng-click="addTranslatedMessage()"></button>
</div>
<div class="message" id="message2"></div>
<p class="paragraph text" data-lrv-text="messages-close"></p>
<div class="custom-code" id="messages4" data-custom-model="closeMessage"></div>
<div class="paragraph">
    <button class="btn text" data-lrv-text="launch-example" data-ng-click="addCloseMessage()"></button>
</div>
<div class="message" id="message3"></div>
<p class="paragraph text" data-lrv-text="messages-time"></p>
<div class="custom-code" id="messages5" data-custom-model="fadeMessage"></div>
<div class="paragraph">
    <button class="btn text" data-lrv-text="launch-example" data-ng-click="addFadeMessage()"></button>
</div>
<div class="message" id="message4"></div>
<p class="paragraph text" data-lrv-text="messages-conclusion"></p>
<h2 class="paragraph text" data-lrv-text="controller"></h2>
<p class="paragraph text" data-lrv-text="messages-controller"></p>
<div class="custom-function" data-custom-model="messageAddFn"></div>
<div class="custom-function" data-custom-model="messageClearFn"></div>
