<h1 class="paragraph">
    <span class="text" data-lrv-text="selects"></span>
    <a href="#main-index=components-tab&components-index=selects-tab" class="custom-link">
        <i class="fa fa-link"></i>
    </a>
</h1>
<p class="paragraph text" data-lrv-text="selects-introduction"></p>
<div class="custom-code" id="select1" data-custom-model="simpleOpts"></div>
<p class="paragraph text" data-lrv-text="selects-objects"></p>
<div class="custom-code" id="select2" data-custom-model="jsonSyntax"></div>
<p class="paragraph text" data-lrv-text="selects-objects-explained"></p>
<p class="paragraph text" data-lrv-text="selects-final-outcome"></p>
<div class="custom-code" id="select3" data-custom-model="complexOptions"></div>
<h2 class="paragraph text" data-lrv-text="dynamic-change"></h2>
<p class="paragraph text" data-lrv-text="selects-dynamic-change"></p>
<div class="paragraph">
    <button class="btn text" data-ng-click="switchOptions()" data-lrv-text="launch-example"></button>
    <select class="select" data-lrv-model="dynamicOptions"></select>
</div>
<h2 class="paragraph text" data-lrv-text="real-element"></h2>
<p class="paragraph text" data-lrv-text="real-element-information"></p>
<div class="paragraph">
    <select class="select" data-lrv-model="opts3" style="display: initial; margin-right: 20px;"></select>
</div>