<h1 class="paragraph">
    <span class="text" data-lrv-text="selects"></span>
    <a href="#main-index=components-tab&components-index=selects-tab" class="custom-link">
        <i class="fa fa-link"></i>
    </a>
</h1>
<p class="paragraph text" data-lrv-text="selects-introduction"></p>
<div class="custom-code" id="select1">
    <div data-custom-type="code" data-custom-name="JavaScript" data-custom-language="javascript">
        $scope.opts1 = ['opt1', 'opt2', 'opt3'];
    </div>
    <div data-custom-type="code" data-custom-name="HTML" data-custom-language="html">
        <select class="select" data-lrv-model="opt1" data-lrv-options="opts1"></select>
    </div>
    <div data-custom-type="result" data-custom-reference="HTML"></div>
</div>
<p class="paragraph text" data-lrv-text="selects-objects"></p>
<div class="custom-code" id="select2">
    <div data-custom-type="code" data-custom-name="JSON" data-custom-language="json" data-custom-variable="jsonSyntax"></div>
</div>
<p class="paragraph text" data-lrv-text="selects-objects-explained"></p>
<p class="paragraph text" data-lrv-text="selects-final-outcome"></p>
<div class="custom-code" id="select3">
    <div data-custom-type="code" data-custom-name="JavaScript" data-custom-language="javascript" data-custom-variable="complexOptions"></div>
    <div data-custom-type="code" data-custom-name="HTML" data-custom-language="html">
        <select class="select" data-lrv-model="opt2" data-lrv-options="opts2"></select>
    </div>
    <div data-custom-type="result" data-custom-reference="HTML"></div>
</div>
<h2 class="paragraph text" data-lrv-text="dynamic-change"></h2>
<p class="paragraph text" data-lrv-text="selects-dynamic-change"></p>
<div class="paragraph">
    <button class="btn text" data-ng-click="switchOptions()" data-lrv-text="launch-example"></button>
    <select class="select" data-lrv-model="opt3" data-lrv-options="dynamicOptions"></select>
</div>
<h2 class="paragraph text" data-lrv-text="real-element"></h2>
<p class="paragraph text" data-lrv-text="real-element-information"></p>
<div class="paragraph">
    <select class="select" data-lrv-model="opt4" data-lrv-options="opts1" style="display: initial; margin-right: 20px;"></select>
</div>